<div id="slider" style="position: absolute;">
  <img id="i" />
</div>

<script type="text/javascript">

var deck = null;
var index = 0;

$(function() {
    $.getJSON('<%= deck_path(@deck, format: 'json') %>', function(data) {
        deck = data;
	index = 0;
        $('#i').attr('src', deck.slide_urls[index].url);
	setTimeout(next, deck.slide_urls[index].duration* 1000);
    });
});

function getUpdate() {
    $.getJSON('<%= deck_path(@deck, format: 'json') %>', function(data) {
        deck = data;
    });
}

function next() {
    if(deck && deck.slide_urls.length > 1) {
        console.log('Has more than 1 image');
        pos = index;
        if(pos < 0) {
            pos = -1;
        }
        pos += 1;
        if(pos == deck.slide_urls.length) {
            console.log('Starting over at beginning');
            pos = 0;
        } else {
            console.log('Going to ' + pos);
        }
        $('#slider').append('<img id="j" src="' + deck.slide_urls[pos].url + '" />').animate({top: '-=720px'}, 0, function() {
            $('#i').attr('src', deck.slide_urls[pos].url);
            $('#slider').animate({top: '+=720px'}, 0, function() {
                $('#j').remove();
		setTimeout(next, deck.slide_urls[pos].duration* 1000);
		console.log('Next slide in ' + deck.slide_urls[pos].duration);
		index = pos;
            });
        });
    }
}

setInterval(getUpdate, 26000);


</script>
